
ill*
results/
tuning_ents
xblah
*.txt
*.mod
*.err
*.sh
*.ps
*.F~
*.f90~
*.dat~
*.data~
*.cmn~
*.par~
*.f~
.gitignore



ll*
results/
tuning_ents
xblah
*.txt
*.mod
*.err
*.sh
*.ps
*.F~
*.f90~
*.dat~
*.data~
*.cmn~
*.par~
*.f~
.gitignore
