/EMIC_AR5
/batch_input
/batch_output
/ensemble_eg
/genie-biogem/old
/genie-cgoldstein/bin
/genie-cgoldstein/Makefile~
/genie-cgoldstein/m3_*
/genie-cgoldstein/mesmo*
/genie-cgoldstein/old_code
/genie-cgoldstein/old_models
/genie-cgoldstein/run_multi_scripts
/genie-main/old
/genie-simpleland/config/.svn
/genie-simpleland/data/.svn
/genie-simpleland/manual
/genie-simpleland/plot
/genie-simpleland/unused
grepall*
results/
tuning_ents
xblah
*.txt
*.mod
*.err
*.sh
*.ps
*.F~
*.f90~
*.dat~
*.data~
*.cmn~
*.par~
*.f~